<section class="">
                <section class="row align-items-center">
                        <section class="col-xxl m-auto">
                            <img style="width:100%;" src=" {{dato.logo}} " class="d-block w-100" alt="...">
                        </section>
                        <section class="info p-3 col-sm p-4">
                            <h1 class="text-center">Quienes somos ?</h1>
                            <hr>
                            <br>
                            <p style="text-align: justify;"> {{dato.descripcion}} </p>
                            <br>
                            <a href=" {{dato.formulario}} " class="btn btn-success btn-block">Haz tu pedido</a>
                        </section>
                </section>
                <hr>
            </section>