            <section class="tabla col-xxl m-auto">
                <h1 class="text-center">Productos</h1>
                <table class="table table-striped col-xxl" id="productos-list">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos %}
                        <tr>
                            <td style="width:250px;">
                                <img style="width:100%;" src=" {{producto.imagen}} " alt="">
                            </td>
                            <td>{{producto.nombre}}</td>
                            <td>$ {{producto.precio}}</td>
                            <td>
                                <a href=" {% url 'detailproduct' producto.id %} " class="btn btn-sm btn-primary"> + </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            <br>
            <script>
                let table = new DataTable('#productos-list',{
                    responsive:true,
                    pageLength : 3,
                    lengthMenu: [[3, 5, 10, -1], [3, 5, 10, 'Todos']],
                    language:{
                        "lengthMenu": "Mostrar _MENU_ registros por pagina",
		                "info": "Mostrando pagina _PAGE_ de _PAGES_",
		                "infoEmpty": "No hay registros disponibles",
		                "infoFiltered": "(filtrada de _MAX_ registros)",
		                "loadingRecords": "Cargando...",
		                "processing":     "Procesando...",
		                "search": "Buscar:",
		                "zeroRecords":    "No se encontraron registros coincidentes",
	                            "paginate": {
		                            "next":       "Siguiente",
		                	"previous":   "Anterior"
	                    },				
                    }
                });
            </script>
