<html>
    {% include 'includes/header.html' %}
    <body style="background-color: #fdcae1;">
        <main class="container-xl p-4">
            <section class="card col-md-6 m-auto">
                <section class="card-title p-3">
                    <h2 class="text-center"> {{body.nombre}} </h2>
                </section>
                <section class="card-body">
                    <section class="imagen">
                        <img style="width: 100%;" src=" {{body.imagen}} " alt="">
                    </section>
                    <section class="descripcion p-4">
                        <p class="text-center" style="font-weight: bold; font-style: italic;">Descipción</p>
                        <p style="text-align: justify;"> {{body.descripcion}} </p>
                        <p class="text-center" style="font-weight: bold; font-style: italic;">Precio</p>
                        <p class="text-center">$ {{body.precio}} </p>
                    </section>
                </section>
                <section class="card-footer">
                    <a href="https://api.whatsapp.com/send/?phone=5567052670{{dato.cel}}&text=Hola%20vengo%20de%20tu%20pagina%20web,%20me%20gustaria%20pedir%20informes%20sobre%20este%20{{body.nombre}},%20Imagen:%20{{body.imagen}}" class="btn btn-success btn-block">Comprar</a>
                </section>
            </section>
        </main>
    </body>
</html>
