<html>
    {% for dato in datos %}
    {% include 'includes/header.html' %}
    <body>
        {% include 'includes/navbar.html' %}
        <main>
            <section class="container-xl py-3" id="info">
                {% include 'includes/info.html' %}
            </section>
    {% endfor %}
            <section class="container-xl" id="productos">
                <section class="row align-items-center">
                    
                    {% include 'includes/productos_list.html' %}
                    
                    {% for dato in datos %}
                    {% include 'includes/contacto.html' %}
                    {% endfor %}
                </section>
                <hr>
            </section>
            
            <section class="catalogo" id="catalogo">
                {% include 'includes/catalogo.html' %}
            </section>
            
        </main>
        {% for dato in datos %}
        {% include 'includes/footer.html' %}
        {% endfor %}
    </body>
</html>